@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
    @apply font-medium;
    @apply bg-linen;
    @apply text-hunter;
    @apply antialiased;
  }

  @font-face {
    font-family: "Satoshi";
    src: url("../public/fonts/Satoshi-Variable.woff2") format("woff2-variations");
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: normal;
  }

  @font-face {
    font-family: "Satoshi";
    src: url("../public/fonts/Satoshi-VariableItalic.woff2") format("woff2-variations");
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: italic;
  }

  @font-face {
    font-family: "Magic Ramen";
    src: url("../public/fonts/Magic-Ramen.woff2") format("woff2");
    font-weight: 500;
  }
}
